body {
  color: white;
}
#contact_us_heading {
  font-size: 4rem;
  font-weight: 400;
}
.about {
  background-repeat: no-repeat;
  background-size: contain;
}
.text-3xl {
  font-family: Audiowide;
}
.contact-parent {
  margin: 0 auto;
}
.movable-reactangle {
  transition: transform 0.3s ease-in-out;
  transform: translate(1px);
}
.moved {
  transform: translateX(33px);
}
.about-us-container {
  position: absolute;
  top: 12%;
  left: 6%;
  width: max-content;
  color: var(--Color-Base-Vivid-Sky-Blue, #00e0ff);
  text-align: center;
  font-family: Bender;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  writing-mode: vertical-rl;
}
.overall {
  width: 75%;
}
@media screen and (max-width: 768px) {
  .overall {
    width: 100%;
  }
  .about-us-img-container {
    width: auto !important;
    height: auto !important;
  }
  .about-us-container {
    font-size: 0.75rem !important;
    letter-spacing: 0.2rem;
  }
  .about-us-container2 {
    font-size: 0.85rem !important;
  }
  .about-us-container4 {
    font-size: 0.9rem !important;
  }
  .about-us-container3 {
    height: fit-content;
    position: absolute !important;
    right: 1.5% !important;
  }
  .about-us-container3 img {
    width: 75%;
    height: auto;
  }
  .about-us-svg3 svg {
    height: 70% !important;
    width: 135% !important;
    bottom: 0.25vh;
  }
  .about-us-container4 {
    bottom: 17% !important;
  }
}
.hovered-svg {
  fill: #39281c;
  transform: all 0.5s ease-in-out;
}
.about-us-container2 {
  position: absolute;
  top: 6.5%;
  /* left: 27.5%; */
  margin-left: 20%;
  width: 80%;
  text-align: center;
  color: var(--Color-Base-Gold-Yellow, #f0b537);
  font-family: Rajdhani;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.about-us-img-container {
  /* margin: 5rem; */
  width: 250px;
  height: 400px;
  position: relative;
}
.placeholder {
  margin: auto;
}
.contactus-head {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-us-svg1 {
  fill: #1b1615;
}
.about-us-svg1 svg {
  width: 100%;
  height: 100%;
}
.about-us-head-container {
  width: 75%;
  margin: 2rem auto;
  color: rgba(255, 251, 255, 0.8);
  font-family: "Rajdhani";
  font-size: 1.35rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.05rem;
  line-height: 145%; /* 2.9rem */
  text-align: left;
}
.about-us-head-container2 {
  width: 75%;
  margin: 3rem auto 5rem auto;
  color: var(--Color-Base-Gold-Yellow, #f0b537);
  text-align: center;
  font-family: "Rajdhani";
  font-size: 2rem;
  letter-spacing: 0.1rem;
  font-style: normal;
  font-weight: 500;
}
.about-us-head-container span {
  color: rgba(255, 255, 255, 1);
  font-family: "Rajdhani";
  font-size: 1.35rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
}
.about-us-svg2 {
  position: absolute;
  top: 2.5%;
  left: 17.5%;
  width: auto;
  height: 95%;
}
.about-us-svg2 svg {
  width: 100%;
  height: 100%;
}
.about-us-svg3 {
  position: absolute;
  width: 50%;
  height: 20%;
  bottom: 3%;
  left: 17%;
}

.about-us-svg3 svg {
  position: absolute;
  transition: opacity 0.5s ease-in-out, visibility 1s ease-in-out;
  width: 120%;
  height: 100%;
}

.visible {
  opacity: 1;
  visibility: visible;
}

.faded {
  opacity: 0;
  visibility: hidden;
}

.about-us-svg4 {
  position: absolute;
  top: 16%;
  left: 20%;
  width: 79%;
  height: 61%;
}

.about-us-svg5 rect {
  transition: transform 0.5s ease;
}

.about-us-svg4 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: -1;
}
.about-us-svg5 {
  position: absolute;
  top: 20%;
  left: 22.5%;
}
.about-us-svg5 svg {
  width: 80%;
  height: auto;
}
.about-us-svg6 {
  position: absolute;
  top: 17%;
  right: 2%;
  z-index: 1;
}
.about-us-svg7 {
  position: absolute;
  bottom: 23.5%;
  left: 21%;
  z-index: 1;
}
.about-us-container3 {
  position: absolute;
  bottom: 4%;
  right: 5%;
}
.about-us-container3 img {
  margin: 15% 0;
  border-radius: 0.25rem;
  border: 1px solid rgba(0, 224, 255, 0.3);
  background: rgba(3, 10, 23, 0.8);
  transition: all 0.2s ease-in-out;
}
.about-us-container3 img:hover {
  border: 1px solid rgba(0, 224, 255, 1);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.about-us-container4 {
  position: absolute;
  bottom: 15%;
  left: 22.5%;
  color: var(--Color-Base-Vivid-Sky-Blue, #00e0ff);
  font-family: Rajdhani;
  font-size: 1.05rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
