.landing-page-spline {
    margin-top: -18vh;
    width: 100%;
    height: 102vh;
}
.iframe_box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin-left: 15%;
    width: 70%;
    margin-bottom: 2rem;
    border: 1rem;
    border-radius: 5px;
}
@media screen and (min-height: 810px) {
    .landing-page-spline {
        margin-top: -10vh;
        height: 104vh;
    }
}

.landing-comp {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.landing-heading {
    color: #FFF;
    font-family: Audiowide;
    font-size: 3.6rem;
    font-weight: 400;
    letter-spacing: 0.55rem;
    margin-bottom: 4.5rem;
}

@media screen and (max-width: 768px) {
    .landing-heading {
        font-size: 2.5rem;
        letter-spacing: 0.4rem;
        margin-bottom: 3rem;
    }
    .iframe_box{
        height: 20rem;
        width: 90vw;
        margin-left: 5vw;
    }
}