.landing-sponsors-container {
    width: 100%;
    margin-bottom: 6rem;
    margin-top: -3rem;
}

.landing-sponsors-container-top,
.landing-sponsors-container-bottom {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 15rem;
}

.landing-sponsors-top {
    display: flex;
    flex-direction: row;
}

.landing-sponsors-container-bottom {
    margin-left: auto;
    margin-right: 2%;
}


.landing-sponsor-card {
    width: 26%;
    height: 80%;
}

/* -------------------------------------------Scrolling animation-------------------------------------------- */
@media screen and (min-width: 768px) {
    .scroller-sponser {
        min-width: 100vw;
    }

    .scroller__inner-sponser {
        padding-block: 1rem;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .scroller-sponser[data-animated="true"] {
        overflow: hidden;
        -webkit-mask: linear-gradient(90deg,
                transparent,
                white 20%,
                white 80%,
                transparent);
        mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
    }

    .scroller-sponser[data-animated="true"] .scroller__inner-sponser {
        width: max-content;
        flex-wrap: nowrap;
        animation: scroll var(--_animation-duration, 40s) var(--_animation-direction, forwards) linear infinite;
    }

    .scroller-sponser[data-direction="right"] {
        --_animation-direction: reverse;
    }

    .scroller-sponser[data-direction="left"] {
        --_animation-direction: forwards;
    }

    .scroller-sponser[data-speed="fast"] {
        --_animation-duration: 20s;
    }

    .scroller-sponser[data-speed="slow"] {
        --_animation-duration: 30s;
    }

    @keyframes scroll {
        to {
            transform: translate(calc(-50% - 0.5rem));
        }
    }
}

/*-------------------------------------------Scrolling animation-------------------------------------------- */

@media screen and (max-width: 768px) {
    .landing-sponsors-container {
        margin-bottom: 2rem;
        margin-top: -1.5rem;
    }

    .landing-sponsors-container-top,
    .landing-sponsors-container-bottom {
        flex-wrap: wrap;
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
        height: max-content;
    }

    .landing-sponsor-card {
        width: 45%;
        height: 14vh;
        margin: 4% 2.5%;
    }
}