.dashboard {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.profile_heading {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--Color-Base-Snow, #FFFBFF);
    text-align: center;
    font-family: Audiowide;
    font-size: 3rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.6rem;
    margin-top: 2rem;
}

.dashboard-nav-button {
    width: 13vw;
    margin: 1px 4vw;
    padding: 5px;
    border-bottom: 10px solid blue;
}

.dashboard-nav-details {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 76vw;
}

.dashboard-nav-details-card {
    width: 25vw;
    height: 20vh;
}