.usercard-img {
  width: 100%;
}

.user-card-content {
  position: absolute;
  top: 2px;
  left: 0;
  width: 94%;
  margin-left: 5.9%;
  display: flex;
  height: 98%;
  justify-content: flex-start;
  gap: 5%;
}

.user-card-container {
  position: relative;
  width: 40%;
  height: 100%;
}

.user-card-text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 5%;
  align-items: flex-start;
  width: 35%;
  font-size: 1.2vw;
}

.user-card-btn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 22%;
}
.user-card-title {
  font-size: 1.2rem;
  font-weight: 600;
  font-family: Bender;
  letter-spacing: 0.25rem;
}
.user-card-label {
  margin: 0.5rem 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: max-content;
}
.user-card-label p {
  margin-left: 0.8rem;
  font-family: Bender;
  letter-spacing: 0.15rem;
}
.ucardsvg{
  width:1.5rem;

}
@media screen and (max-width: 768px) {
  .user-card-text {
    font-size: 1.5vw;
    gap: 2%;
  }
  .user-card-label {
    margin: 0.25rem 0;
  }
  .user-card-text h2 {
    font-size: 1rem;
  }

  .book-pass-btn {
    height: 40%;
  }
  .user-card-title{
    font-size: 30%;
  }
  .ucardsvg{
    width:1rem;
  }
  .comps-pic-img{
    height:98%;
  }
}

@media screen and (max-width: 500px) {
  .user-card-container {
    position: relative;
    width: 85%;
    height: 100%;
  }
  .user-card-text {
    font-size: 3vw;
    gap: 2%;
  }
}
