.event-details {
    background-color: #041429;
    color: #fff;
    height: 50vh;
    width: 50vw;
    padding: 2rem;
}

.event-details input {
    background-color: #293749;
    border: none;
    border-left: 1px solid #ACEBF6;
    color: #fff;
    padding: 0.5rem;
    outline: none;
    margin-top: 10px;
}

.event-details .upload-picture {
    background-color: #293749;
    border: 1px solid #ACEBF6;
}

.event-details input.upload-pic-btn {
    background-color: transparent;
    border: none;
}

.event-details-row-1 {
    display: grid;
    gap: 2rem;
}

.event-details-row-1 .event-title {
    height: 1rem;
    width: 28rem;
}

.event-details-row-1 .event-description {
    height: 5rem;
    width: 28rem;
}

.upload-picture {
    grid-column: 1;
    grid-row: 1/ span 6;
}

.event-name {
    grid-column: 2/ span 4;
    grid-row: 1;
}

.event-description {
    grid-column: 2/ span 4;
    grid-row: 2/ span 6;
}

.event-details-row-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.event-details-row-2 input {
    border-left: 1px solid #93FFD8;
    padding: 0;
    width: 13rem;
}

.event-details-row-2 input.event-venue {
    padding: 10px;
}

::-webkit-calendar-picker-indicator {
    background-color: #93FFD8;
    padding: 10px;
}






















/* .event-details {
    background-color: #041429;
    color: #fff;
    height: 50vh;
    width: 50vw;
    padding: 2rem;
}

.event-details input {
    background-color: #293749;
    border: none;
    border-left: 1px solid #ACEBF6;
    color: #fff;
    padding: 0.5rem;
    outline: none;
}

.events-flex-column {
    display: flex;
    flex-direction: column;
}

.details-row-2 input {
    border-left: 1px solid #93FFD8;
    padding: 0;
}

.details-column-2 .event-title {
    height: 1rem;
}

.upload-picture{
    background-color: #293749;
    border: 1px solid #ACEBF6;
}

.details-row-1 {
    display: flex;
    flex-direction: row;
    gap: 5rem;
}

.details-row-1 input {
    height: 5rem;
}

.details-column-2 {
    display: flex;
    flex-direction: column;
}

.details-column-2 input {
    width: auto;
}

.details-row-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

::-webkit-calendar-picker-indicator {
    background-color: #93FFD8;
    padding: 10px;
} */
