.acc_main {
  display: flex;
  flex-direction: column;
}
.acc_heading {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--Color-Base-Snow, #fffbff);
  text-align: center;
  font-family: Audiowide;
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.6rem;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.ac_pages {
  display: flex;
  flex-direction: column;
}
.ac_contact {
  /* margin-top: 3rem; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#ac_nav {
  margin-bottom: 3.5rem;
}

.Registration_form_containor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1vh;
}

.initial_details {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.label_date_accomodation {
  color: var(--Color-Base-Snow, #fffbff);
  text-align: center;
  font-family: Rajdhani;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-wrap: nowrap;
}

.date_options {
  display: flex;
  flex-direction: row;
  gap: 5%;
  justify-content: center;
  align-items: center;
}

.datepicker_btn {
  background-image: url("./assets/plusbtn.svg");
  background-size: cover; /* or contain, depending on how you want the image to fit */
  background-position: center; /* or any other desired position */

  padding: 6px 12px; /* Adjust padding as needed */

  border: none; /* Remove border if needed */
  cursor: pointer; /* Add pointer cursor */
}
.datepicker_btn.selecteddate {
  background-image: url("./assets/plusbtnselected.svg");
}
.checkin_accomodation {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  width: 30%;
}
.checkout_accomodation {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  width: 30%;
}
.title_members_details {
  color: var(--Color-Base-Violet, #e086d3);
  text-align: center;
  font-family: Bender;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.minus_btn_members {
  display: flex;

  width: 48px;
  font-size: 24px;

  background-image: url("./assets/decreasetest.jpg");
  background-size: cover; /* or contain, depending on how you want the image to fit */
  background-position: center; /* or any other desired position */

  padding: 6px 8px; /* Adjust padding as needed */

  border: none; /* Remove border if needed */
  cursor: pointer; /* Add pointer cursor */
  height: 40px;
}
.no_of_people {
  width: 45%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgba(0, 224, 255, 0.3);
}
.plus_btn_members {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  font-size: 24px;

  background-image: url("./assets/increase.png");
  background-size: cover; /* or contain, depending on how you want the image to fit */
  background-position: center; /* or any other desired position */

  padding: 6px 8px; /* Adjust padding as needed */

  border: none; /* Remove border if needed */
  cursor: pointer; /* Add pointer cursor */
  height: 40px;
}

.Form_details_accomodation {
  color: var(--Color-Base-Snow, #fffbff);
  font-family: Rajdhani;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 80%;
}

.dates_accomodation {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20%;
}
.label_date_accomodation {
  display: flex;
  justify-content: center;
  align-items: center;
}
.members_details_accomodation {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2vh;
  margin-bottom: 2vh;
  width: 100%;
}
.men_accomodation {
  color: var(--Color-Base-Snow, #fffbff);
  text-align: center;
  font-family: Rajdhani;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.selector_men_number {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.selection_members {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
}

.next_btn_accomodation {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 200px;
  height: 50px;
  margin-top: 30px;
  margin-bottom: 20px;
  background-image: url("./assets/nextbtn.svg");
  background-size: cover; /* or contain, depending on how you want the image to fit */
  background-position: center; /* or any other desired position */

  padding: 12px 8px; /* Adjust padding as needed */

  border: none; /* Remove border if needed */
  cursor: pointer; /* Add pointer cursor */
}

.members_details {
  display: flex;
  flex-wrap: wrap;
  gap: 20%;

  justify-content: center;
  align-items: center;
}

.men_number_selector {
  display: flex;
  flex-direction: row;
  gap: 5%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.members_personal_data {
  display: flex;
  flex-direction: column;
  gap: 3vh;
  width: 21%;
  margin-bottom: 5%;
}

.members_headings {
  color: var(--Color-Base-Violet, #e086d3);
  font-family: Bender;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.96px;
}

.members_details_form {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}
.members_details_field {
  display: flex;
  flex-direction: column;
}
.members_details_field label {
  color: #fff;
  font-family: Rajdhani;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.members_details_field input {
  border-left: 2px solid var(--Color-Base-Vivid-Sky-Blue, #00e0ff);
  background: linear-gradient(
      0deg,
      rgba(0, 224, 255, 0.1) 0%,
      rgba(0, 224, 255, 0.1) 100%
    ),
    rgba(3, 10, 23, 0.8);
  padding-left: 5%;
  height: 50px;
  width: 28vw;
}

.terms_and_conditions_accomodation {
  margin-bottom: 1vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.terms_and_conditions_accomodation label {
  color: #fff;
  font-family: Rajdhani;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 55%;
  display: flex;
  flex-direction: row;
  gap: 2vw;
}

.terms_and_conditions_box {
  width: 30px;
  height: 30px;
}

.submit_details_members {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 200px;
  height: 50px;
  margin-top: 30px;
  margin-bottom: 20px;
  background-image: url("./assets/nextbtn.svg");
  background-size: cover; /* or contain, depending on how you want the image to fit */
  background-position: center; /* or any other desired position */

  padding: 12px 8px; /* Adjust padding as needed */

  border: none; /* Remove border if needed */
  cursor: pointer; /* Add pointer cursor */
}

.ac_reaching {
  margin-bottom: 20%;
  margin-top: -2%;
}

.ac_reaching_points {
  display: flex;
  flex-direction: row;
}

.ac_reaching_points_num {
  margin-left: 8%;
  margin-right: -7%;
  margin-top: 1.5%;
  font-family: Rajdhani;
  font-weight: 400;
  font-size: 1.2rem;
}

.ac_reaching_points_text {
  display: flex;
  flex-direction: column;
  margin-left: 8%;
  margin-right: 8%;
  margin-top: 1.5%;
  font-family: Rajdhani;
  font-weight: 400;
  font-size: 1.2rem;
}
.ac_faq {
  margin-bottom: 15%;
}
@media (max-width: 768px) {
  .acc_heading {
    font-size: 1.5rem;
  }
  .Form_details_accomodation{
    font-size: 1rem;
    text-align: center;
  }
  .ac_reaching_points_num {
    font-size: 1rem;
  }
  .ac_reaching_points_text {
    font-size: 1rem;
  }

  .members_details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vh;
  }
  .members_personal_data {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .members_details_field input {
    width: 100%;
  }
}
@media (max-width: 1024px) {
  .selection_members {
    flex-direction: column;
    gap: 20px;
  }
}

@media (max-width: 820px) {
  .selector_men_number {
    width: 30%;
  }
}

@media (max-width: 650px) {
  .dates_accomodation {
    flex-direction: column;
    gap: 2vh;
  }
  .selector_men_number {
    width: 50%;
  }
}
