.accom-main {
	display: flex;
	flex-direction: column;
	align-items: center;
    z-index: 90;
}
.accom-nav {
	margin: 5vh;
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
	width: 80%;
}

.accom-nav div {
	border-radius: 2px;
	font-weight: 600;
	cursor: pointer;
	padding: 0.5rem 1.2rem;
	font-size: 1.2rem;
    margin: 10px 20px;
	border: 1px solid #ACEBF6;
}
.accom-nav-active {
	background: #acebf6;
	color: #000;
}

.accom-reg {
	background: rgba(172, 235, 246, 0.1);
	width: 80%;
	border: 1px solid #acebf6;
	margin: 5vh 10vw;
	padding: 5vh 5vw;
}

.accom-reg-title {
	font-family: 'Brolink2';
	font-weight: 400;
	font-size: 56px;
	text-align: center;
	padding-bottom: 30px;
}
.accm-note{
    color: rgba(172, 235, 246, 1);
    font-size: 1.5rem;
    font-weight: 500;
}
.accm-note-1{
    font-size: 1rem;
}
.accom-reg-form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.accom-reg-label {
	font-weight: 600;
	font-size: 22px;
	color: #ffffff;
	padding: 25px 0 15px 0;
}

.accom-reg-dates {
	display: flex;
}

.accom-reg-date {
	background: rgba(255, 255, 255, 0.15);
	border: 1px solid #acebf6;
	width: 50px;
	height: 50px;
	margin: 10px;
	font-weight: 600;
	font-size: 32px;
	text-align: center;
	color: #ffffff;
	cursor: pointer;
}

.accom-reg-date-active {
	background: #acebf6;
	color: #000;
}

.accom-reg-people {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	font-weight: 500;
	font-size: 22px;
	color: #ffffff;
	text-align: center;
}

.accom-reg-people-input {
	display: flex;
}

.accom-reg-people-label {
	margin-bottom: 10px;
}

.accom-reg-people-input input {
	width: 50px;
	height: 50px;
	border: 0;
	text-align: center;
	pointer-events: none;
}

.accom-reg-people-input button {
	border: 0;
	font-size: 30px;
	font-weight: 700;
	height: 50px;
	width: 50px;
	position: relative;
}

.accom-reg-people-input button div {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.accom-reg-nextt{
    border: none;
    font-size: 20px;
    font-weight: 600;
    margin: auto;
    margin-top: 40px;
}

.accom-reg-next{
    border: none;
    font-size: 20px;
    font-weight: 600;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
	background: rgba(172, 235, 246, 0.3);
}

.accom-reg-member-label {
	font-weight: 400;
	font-size: 20px;
	color: #ffffff;
	margin-bottom: 5px;
}
.accm-mail-policy{
    margin-top: 2rem;
}
.accom-reg-member {
	max-width: 60%;
	margin: auto;
}

.accom-reg-member input{
    margin-bottom: 25px;
}

.agree-1{
    display: flex;
    flex-direction: column;
    align-self: center;
}
.agree{
    display: flex;
    gap: 2rem;
    width: 60%;
    margin: auto;
    text-align: justify;
    padding:0 1.5rem;
}
.screenshot{
    width: 60%;
    margin: auto;
}
.drag-drop-2{
    width: 100%;
    margin-bottom: 2rem;
}
.drag-drop-2 .accom-reg-member-label{
    margin: 0;
}
.drag-input2{
    width: 40%;
    margin: auto;
    min-height: 300px;
}
.proof-img img{
    top: 0;
    height: 300px;
    width: auto;
}
.red-alert-bor{
    padding: 5px;
    border: 2px solid rgb(255, 57, 57) ;
    box-shadow: 0 0 10px red;
}
.accm-sub-tabs{
    font-size: 1rem;
    font-weight: 400;
    margin-left: 20vw;
    margin-right: 20vw;
    margin-bottom: 10vh;
    width: 60vw;
}
.reach-box{
    margin-bottom: 2rem;
}
.reach-title{
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: 500;
}
.reach-title-2{
    margin-top: 1rem;
    margin-bottom: 0.75rem;
    font-size: 1.2rem;
    font-weight: 500;
}
.tabbed{
    width: 95%;
    margin-left: 5%;
}
.reach-ol{
    margin-top: 1rem;
    font-weight: 500;
}
.fare-table{
    margin-top: 2rem;
    width: 100%;
}
.fare-table tr td, .fare-table tr th{
    border: 1px solid rgba(172, 235, 246, 1);
    padding: 0.5rem 1rem;
}
.link, .link:hover{
    color: rgba(172, 235, 246, 1);
}
.instr-ol li{
    font-weight: 500;
    margin-bottom: 1rem;
}

.total-amount{
    width: 100%;
    margin-top: 2rem;
    font-size: 1.8rem;
    font-weight: 500;
}


@media screen and (max-width:480px) {
    .accm-sub-tabs{
        margin-left: 10vw;
        margin-right: 10vw;
        width: 80vw;
    }
    .not-tabbed{
        margin: 0;
    }
    .fare-table tr td, .fare-table tr th{
        font-size: 0.8rem;
        padding: 0.5rem 0.75rem;
    }
}

@media screen and (max-width:480px) {
    .accm-sub-tabs{
        margin-left: 7.5vw;
        margin-right: 7.5vw;
        width: 85vw;
    }
    .fare-table tr td, .fare-table tr th{
        padding: 0.25rem 0.5rem;
    }
    .agree-text{
        width: 100%;
    }
    .screenshot .accom-reg-member-label{
        margin-bottom: 1rem;

    }
    .screenshot{
        width: 100%;
        margin-bottom: 2rem;
    }
    .agree{
        width: 100%;
    }
    .drag-drop-2{
        width: 100%;
        margin: 0;
    }
    .drag-input2{
        width: 80%;
    }
    .accom-nav{
        margin: 5vh 0;
        width: 100%;
        padding: 0 5px;
    }
    .accom-reg-member{
        max-width: 100%;   
    }
    .accom-nav div {
        font-weight: 500;
        padding: 0.5rem 1.2rem;
        font-size: 0.8rem;
        margin: 5px 0px;
    }

    .accom-reg-title{
        font-weight: 400;
        font-size: 28px;
        text-align: center;
        padding-bottom: 30px;
    }
    .teams-parent2{
        margin-top: 0;
    }

    .accom-reg{
        width: 90%;
        margin-bottom: 10vh;
    }

    .accom-reg-people-label{
        margin-top: 25px;
        margin-bottom: 10px;
    }
    .accm-mail-policy{
        margin-top: 0rem;
    }
}
input[type="checkbox"]{
    position: relative;
    cursor: pointer;
    padding: 0;
    appearance: none;
    -webkit-appearance: none;
    height: 18px;
    width: 18px;
    border-radius: 1px;
    background: none;
    border: 2px solid white;
}
input[type="checkbox"]:checked{
    background: rgba(172, 235, 246, 1);
    border: none;
}
input[type="checkbox"]:checked:after{
    position: absolute;
    color: #000;
    content: '\2714';
    font-size: 14px;
    left: 2px;
    bottom: -2px;
}
