body {
  background-color: black;
}

.parent {
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pronites-heading {
  color: white;
  font-family: Audiowide;
  text-align: center;
  font-size: 3.8rem;
  font-weight: 400;
  letter-spacing: 4px;
}

.pronites {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pronite-container {
  display: flex;
  margin-top: 10vh;
  margin-bottom: 3rem;
  width: 80%;
  height: 35rem;
}

.pronite-card-top {
  height: 21.8%;
  border-bottom: 2px solid #844b87;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  font-weight: 400;
  color: #acebf6;
  font-family: Audiowide;
  letter-spacing: 3.5px;
  text-transform: uppercase;
}

.pronite1-image {
  height: 56.5%;
}

.pronite-card-bottom {
  height: 21.8%;
  border-top: 2px solid #844b87;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  font-weight: 400;
  color: #acebf6;
  font-family: Audiowide;
  letter-spacing: 3.5px;
  text-transform: uppercase;
}

.pronite-card {
  width: 25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5vh;
  clip-path: polygon(0 5%,
      7% 0,
      100% 0,
      100% 18%,
      94% 22%,
      94% 78%,
      100% 82%,
      100% 100%,
      0 100%);
  background-color: #844b87;
}

.pronite-card-inner {
  width: calc(100% - 3px);
  height: calc(100% - 3px);
  clip-path: polygon(0 5%,
      7% 0,
      100% 0,
      100% 17.5%,
      94% 21.5%,
      94% 78.5%,
      100% 82.5%,
      100% 100%,
      0 100%);
  background-color: #28113c;
  transition: all 0.4s ease-in-out;
}

.pronite-card:hover .pronite-card-inner {
  background-color: #4e2d6a;
}

.pronite-name {
  font-family: Audiowide;
  font-weight: 400;
  font-size: 3rem;
  margin-left: 20%;
  margin-top: 1rem;
}

.pronite-details {
  width: 60%;
  /* margin-left: 10%; */
  color: #acebf6;
}

.pronite-number {
  font-family: Audiowide;
  font-size: 2rem;
  font-weight: 400;
}

.pronite-date {
  font-family: Audiowide;
  font-size: 3.5rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.pronite-event-details {
  font-family: Rajdhani;
  font-size: 1.2rem;
}

.pronite-register-button {
  margin-top: 1.5rem;
}

.register-button-icon {
  color: white;
}

@media screen and (max-width: 768px) {
  .pronites-heading {
    font-size: 3.3rem;
  }

  .pronite-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
    margin-bottom: 3rem;
    width: 90%;
    height: max-content;
  }

  .pronite-card {
    width: 90%;
    height: 30rem;
    margin-bottom: 5vh;
  }

  .pronite-card-bottom {
    font-size: 1.5rem;
  }

  .pronite-details {
    width: 100%;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .pronite-number {
    font-size: 1.8rem;
  }

  .pronite-date {
    font-size: 2.1rem;
  }

  .pronite-event-details {
    width: 90%;
    text-align: center;
  }
}