.event-card-component-container {
  display: flex;
  width: 90%;
  height: auto;
  cursor: pointer;
  position: relative;
  flex-wrap: wrap;
}

.event-card-img {
  position: absolute;
  top: 5%;
  left: 4.5%;
  height: 90%;
}

.event-card-img img {
  height: 100%;
}

.event-card-top-vector {
  position: absolute;
  top: 0;
  left: 1%;
}

.event-card-bottom-vector {
  position: absolute;
  bottom: 0;
  left: 1%;
}

.event-card-bg{
  transition: all 0.3s ease-in-out;
}