/* Footer.css */

@import "@fortawesome/fontawesome-free/css/all.css";
@import "@fortawesome/fontawesome-free/css/regular.css";

.footer-container {
  position: relative;
  height: 100%;
}

.footer {
  background-color: transparent;
  position: relative;
  color: #fff;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    #030a1722,
    #030a17cc,
    #030a17fb,
    #802392fd,
    #802392,
    #80239233
  );
  z-index: -2;
  filter: blur(10px); /* Adjust the blur value as needed */
}

#query {
  margin-bottom: 5%;
}

.horizontal-bar {
  position: absolute;
  top: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    #fffbff 50.33%,
    rgba(255, 251, 255, 0) 100%
  );
}

.social-section,
.contact-section,
.logo-section {
  flex: 1;
  text-align: center;
  margin-bottom: 10px;
}

.contact-section p {
  margin: 0;
}

.handles > .handle > a,
.mail > div > a {
  color: #fff;
  text-decoration: none;
}

.handles {
  margin-top: 1rem;
  margin-bottom: 8px;
  width: 20vw;
  justify-content: space-evenly;
  display: flex;
}

.handles > .handle > a:hover,
.mail > div > a:hover {
  color: lightsalmon;
  text-shadow: 0 0 3px lightsalmon;
}

.handles > .handle > a {
  font-size: 28px;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-icons img {
  width: 30px;
  height: 30px;
}

@media (max-width: 650px) {
  .footer {
    flex-direction: column;
    align-items: stretch;
  }

  .horizontal-bar {
    position: relative;
    order: 1;
    top: -18px;
  }
  .logo-section {
    order: 2;
  }
  .contact-section {
    order: 3;
  }
  .social-section {
    order: 4;
  }
  .handle {
    margin-inline: 10px;
  }
}
