* {
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}
.flex {
  display: flex;
}
.loader {
  font-size: 2rem;
  color: white;
  margin-top: 1rem;
}
.event-details {
  height: 86%;
  width: 93%;
  padding: 2rem;
  overflow-y: auto;
  color: #fff;
}

.event-details form {
  height: 100%;
  width: 100%;
}
.event-details input {
  background-color: #293749;
  border: none;
  border-left: 1px solid #acebf6;
  color: #fff;
  padding: 0.5rem;
  outline: none;
  margin-top: 10px;
}

.event-details textarea {
  background-color: #293749;
  border: none;
  border-left: 1px solid #acebf6;
  color: #fff;
  padding: 0.5rem;
  outline: none;
  margin-top: 10px;
}

.date-time-venue-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 40px;
}

.date-time-venue-container input {
  border-left: 1px solid #93ffd8;
  padding: 0;
  width: 100%;
}

.events-flex-column {
  width: 33%;
}

.date-time-venue-container input.event-venue {
  padding: 10px;
}

::-webkit-calendar-picker-indicator {
  background-color: #93ffd8;
  padding: 10px;
}

.No-of-contact-person-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  margin-top: 20px;
}

.registration-date-time-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  margin-top: 40px;
  width: 100%;
}

.registration-date-time-column {
  width: 50%;
}

.registration-date-time-input {
  display: flex;
  gap: 20px;
}

.registration-date-time-input input {
  border-left: 1px solid #93ffd8;
  padding: 0;
  width: 100%;
}

.rulebook-container {
  display: flex;
  gap: 20px;
}

.rulebook-container .rule {
  width: 90%;
}

.rulebook-container .rule input {
  border-left: 1px solid #93ffd8;
  padding: 8px;
  width: 100%;
}

.team-component-container select {
  border: none;
  border-left: 1px solid #acebf6;
  background-color: #293749;
  color: #fff;
  height: 1.5rem;
  width: 20%;
  outline: none;
}

.team-member-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  gap: 24px;
  justify-content: flex-end;
}

.team-member-container p {
  font-size: small;
  font-weight: 100;
}
