/* .red-bor{
  border: 2px solid red;
}
.black-bor{
  border: 2px solid black;
}
.green-bor{
  border: 2px solid green;
}
.blue-bor{
  border: 2px solid blue;
} */
.signup-img-div-1 {
  position: absolute;
  top: 0;
  right: 0;
}
.signup-img-1 {
  width: 20vw;
}
.signup-img-div-2 {
  position: absolute;
  bottom: -15vh;
  left: 0;
}
.signup-div {
  /* background-color: #2d2d2d; */
  color: white;
  margin-top: 100px;
  margin-bottom: 100px;
}

h1,
.back {
  color: rgba(172, 235, 246, 1);
}

input,
select {
  display: block;
  width: 96%;
  /* text-align: center; */
}

button {
  background-color: rgba(172, 235, 246, 1);
  padding: 10px 20px;
  color: black;
  margin-bottom: 120px;
}

.link input {
  padding: 10px 40px;
}
.head-text2 p {
  margin: 0;
}
.head-text2 {
  font-family: "Poppins";
  display: inline;
  margin: 16px 8px 8px 0;
}
.looader {
  margin: 18px 0 6px 0;
}
.loader-parent {
  display: flex;
}
.question .head-text,
input,
select {
  color: white;
  margin-left: 0px;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
select option {
  background-color: #041429a0;
}

input,
select {
  background: rgba(255, 255, 255, 0.12);
  border: none;
  padding: 12px 10px;
  border-left: 2px solid rgba(172, 235, 246, 1);
  /* background: green; */
}
.question {
  margin: 18px 0;
}

input::placeholder {
  color: rgb(173, 171, 171);
}

.question i {
  position: absolute;
  padding: 10px 0 0 15px;
  font-size: 25px;
  color: rgb(173, 171, 171);
}

.resend {
  color: white;
  font-size: 18px;
  margin: 10px 0 30px 0;
}

.resend span {
  color: rgba(172, 235, 246, 1);
  text-decoration: underline;
}

.to-login a,
.to-login a:hover {
  color: rgba(172, 235, 246, 1) !important;
}
.loading-div {
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .signup-img-1 {
    width: 40vw;
  }
  .signup-img-div-2 {
    bottom: 0vh;
  }
}
