@tailwind base;
@tailwind components;
@tailwind utilities;


body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
	background-color: #030A17;
	background-image: url("assets/sponsors/stars.webp");
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}


::-webkit-scrollbar {
	width: 10px;
	background-color: #041429;
  }

  ::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.4); 
    border-radius: 10px;

  }