.event_body {
    /* display: flex; */
    flex-wrap: wrap;
}

.event_title {
    color: var(--Color-Base-Snow, #FFFBFF);
    text-align: center;
    font-family: Audiowide;
    font-size: 3rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.6rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.filter_search {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 3rem;
}

.fil_con {
    margin-left: 4rem;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 2.6rem;
    width: 10.1rem;
    background-color: #00E0FF;
    border-radius: 5px;
    clip-path: polygon(0 0, 30% 0, 33% 9%, 100% 9%, 100% 100%, 5% 100%, 0 85%);
}

.filter_btn {

    align-items: center;
    display: flex;
    justify-content: center;
    height: 2.5rem;
    width: 10rem;
    clip-path: polygon(0 0, 30% 0, 33% 10%, 100% 10%, 100% 100%, 5% 100%, 0 85%);
    background-color: rgba(0, 224, 255, 0.30);
    /* margin-bottom: 1rem; */
    border-radius: 5px;
    stroke-width: 2px;
    /* stroke: var(--Color-Base-Vivid-Sky-Blue, #00E0FF);    */
    /* border: 3px solid #00E0FF; */
    font-family: "Rajdhani";
    font-size: 1.2rem;
    gap: 1rem;
    background: rgba(3, 10, 23, 0.80);
    /* border: 2px solid rgba(0, 224, 255, 0.30); */
}

.clear_option {
    color: var(--Color-Base-Vivid-Sky-Blue, #00E0FF);
    font-family: Rajdhani;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration-line: underline;
    margin-left: 3rem;
}

.search_box {
    display: flex;
    width: 30%;
    margin-left: 31%;
    margin-bottom: 1rem;
}

.input_field {
    display: flex;
    width: 100%;
    height: 3rem;
    padding: 0.5rem 1rem 0.5rem 2rem;
    justify-content: flex-end;
    align-items: center;
    gap: 30.3125rem;
    flex-shrink: 0;
    border-left: 2px solid var(--Color-Base-Vivid-Sky-Blue, #00E0FF);
    background: linear-gradient(0deg, rgba(0, 224, 255, 0.10) 0%, rgba(0, 224, 255, 0.10) 100%), rgba(3, 10, 23, 0.80);
    color: rgba(255, 251, 255, 0.50);
    font-family: Rajdhani;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.searchbtn {
    cursor: pointer;
}

.filters {
    margin-left: 4rem;
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    ;
}

.sel_fil_container {
    width: 10rem;
    height: 2rem;
    background-color: #E086D3;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
    clip-path: polygon(0 0, 95% 0, 100% 20%, 100% 100%, 5% 100%, 0 80%);
    border-radius: 5px;
}

.selected_filter {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 10rem;
    height: 2rem;
    /* background-color: red;
     */
    fill: linear-gradient(0deg, rgba(0, 224, 255, 0.10) 0%, rgba(0, 224, 255, 0.10) 100%), rgba(3, 10, 23, 0.80);
    border-width: 2px;
    border-color: #E086D3;
    border-radius: 5px;
    clip-path: polygon(0 0, 93% 0, 100% 26%, 100% 100%, 7% 100%, 0 74%);
    color: var(--Color-Base-Snow, #FFFBFF);
    font-family: Rajdhani;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.045rem;
    background: linear-gradient(0deg, rgba(0, 224, 255, 0.10) 0%, rgba(0, 224, 255, 0.10) 100%), rgba(3, 10, 23, 0.80);

}

.event_container {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    margin-top: 2rem;
}

.event_sidebar {
    width: 30%;
    /* height:40rem; */
    /* background-color: #00E0FF; */
}

.events {
    width: 60%;
    margin-left: 8%;
    margin-right: 2%;
    /* height: 40rem; */
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: row; */
    /* background-color: aquamarine; */
}

.event_card img {
    height: 23rem;
    width: 16rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 1rem;
}

.sidebar_body {
    margin-left: 4rem;
    /* height: 40rem; */
    width: 80%;
    border-radius: 0.25rem;
    border: 2px solid var(--Color-Base-Violet-Dark, #802392);
    background: linear-gradient(0deg, rgba(128, 35, 146, 0.10) 0%, rgba(128, 35, 146, 0.10) 100%), rgba(3, 10, 23, 0.80);
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 3vh 2vw;
}

.sidebar_btn {
    display: flex;
    align-items: center;
    width: 100%;
}

.sidebar_options {
    display: flex;
    flex-direction: column;
    margin-top: 1vh;
}

.sidebar_options_hr {
    padding-bottom: 2.5vh;
    border-bottom: 3px solid #802392;
    margin-bottom: 4vh;
}

.sidebar_option {
    margin: 2vh 0;
    font-family: "Rajdhani", sans-serif;
    font-size: 1.15rem;
    font-weight: 600;
    cursor: pointer;
    width: max-content;
    display: flex;
    flex-direction: row;
    align-items: center;

    img {
        margin-right: 1.3rem;
    }
}

.sidebar_option_check {
    margin-right: 1.5rem;
}

.sidebar_button {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 8%;
    margin-left: 5%;
    height: 2rem;
}

.arrow_sdbar {
    height: 2rem;
}

.sidebar_text {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--Color-Base-Dark-Orange, #FB932E);
    font-family: Bender;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.05rem;
}

@media (max-width: 700px) {
    .event_sidebar {
        display: none;
    }

    .search_box {
        margin-top: 1rem;
        margin-left: 12vw;
        width: 60vw;
    }

    .event_card {
        margin-left: 10vw;
        margin-right: 10vw;
    }

    .event_card img {
        width: 100vw;
    }

    .filters {
        display: none;
    }

    .events {
        width: 90vw;
        margin-left: 5vw;
        margin-right: 5vw;
    }
}