.about-us-head {
  margin: 0;
}
.about-us-img-container {
  margin: 5rem;
  position: relative;
}
/* .about-us-img-container:hover {
  background: rgba(240, 181, 55, 1);
} */
.about-us-svg1 {
  width: fit-content;
}
.about-us-animation2-container-hover {
  position: absolute;
  color: none;
}
.about-us-animation2-container-hover:hover {
  transform: scale(7);
}
.about-us-svg2 {
  position: absolute;
  top: 0;
  left: 4rem;
}
.about-us-svg3 {
  position: relative;
}

.about-us-svg3 svg {
  position: absolute;
  transition: opacity 0.5s ease-in-out, visibility 1s ease-in-out;
  bottom: 1rem;
  left: 4.25rem;
}

.visible {
  opacity: 1;
  visibility: visible;
}

.faded {
  opacity: 0;
  visibility: hidden;
}

.about-us-svg4 {
  position: absolute;
  top: 4.5rem;
  right: 0.15rem;
}

.about-us-svg5 rect {
  transition: transform 0.3s ease;
}

.about-us-svg4 img {
  width: 16.5rem;
  z-index: -1;
}
.about-us-svg5 {
  position: absolute;
  top: 5rem;
  left: 5rem;
}
.about-us-svg6 {
  position: absolute;
  top: 4.75rem;
  right: 0.35rem;
  z-index: 1;
}
.about-us-svg7 {
  position: absolute;
  bottom: 7.25rem;
  left: 4.75rem;
  z-index: 1;
}

/* animation 2 */
.about-us-animation2-svg1 {
  position: relative;
  width: max-content;
}
.about-us-animation2-h1 {
  height: auto;
  width: fit-content;
  position: absolute;
  top: 3rem;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.about-us-animation2-subsvg {
  position: absolute;
  top: 7.5rem;
  left: 50%;
  transform: translate(-50%, -50%);
}
.about-us-animation2-h2 {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translate(-50%, -50%);
}
.about-us-animation2-container1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15rem;
}
.about-us-parent-container {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.about-us-animation2-container2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
}
.about-us-tryst-logo {
  position: absolute;
}
.about-us-vector {
  position: absolute;
  width: 20rem;
  height: 20rem;
  background: white;
  -webkit-mask-image: url("../../assets/maskedsvg.svg"); /* Mask image */
  mask-image: url("../../assets/maskedsvg.svg"); /* Mask image */
  background-size: cover;
  -webkit-mask-size: cover;
  mask-size: cover;
  stroke-width: 10px;
  stroke: black;
}
