.event-reg-wrap {
	position: relative;
	margin-bottom: 100px;
}
.reg-img-div-1 {
	position: absolute;
	right: -5vw;
}
.reg-img-div-2 {
	position: absolute;
	bottom: -100px;
	left: -5vw
}
.reg-img-1 {
	width: 30vw;
}
.event-reg-title {
	font-family: Brolink;
	font-weight: 700;
	color: rgba(172, 235, 246, 1);
	font-size: 3rem;
	display: flex;
	justify-content: center;
}
#ff-compose {
	min-height: 100vh;
	z-index: 1;
	position: relative;
}

@media (max-width: 768px) {
	.reg-img-div-1, .reg-img-div-2 {
		display: none;
	}
	.event-reg-wrap {
		padding: 0 5%;
	}
	.event-reg-title {
		font-size: 2rem;
		justify-content: left;
	}
}
