.fullscreen-video-container {
  position: relative;
  width: 100%;
  height: 100vh;
  max-width: 100vw;
  overflow: hidden;
}

.fullscreen-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 600px) {
  .overlay-image {
    max-width: 90%; /* Adjust the maximum width of the overlay image for smaller screens */
    width: 70%;
    top: 24%;
  }
}
@media screen and (min-width: 600px) and (max-width: 840px) {
    .overlay-image{
        max-width: 90%;
        width: 60%;
        top: 28%;
    }
}
.coming-soon-text-h1{
  
}
.coming-soon-text-overlay {
  text-align: center;
  position: relative;
  /* height: 100vh; */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
}

h1 {
  font-family: 'Audiowide', sans-serif;
  font-size: 4rem;
  font-weight: 400;
  letter-spacing: 3px;
  width: 100%;
  color: #fff;
  margin: 0;
  padding: 20px;
  background: transparent;
  background-image: url('../../assets/coming-soon-bg.png');
  -webkit-background-clip: text;
  background-clip: text;
  animation: ComingSoonBgAnimation 5s linear infinite;
  color: transparent;
}

/* .coming-soon-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 0;
  animation: ComingSoonBgAnimation 5s linear infinite;
} */

.coming-soon-text-overlay {
  /* Remove absolute positioning */
  position: absolute;
  left: 50%;
  top: 15%;
  transform: translate(-50%, -50%); /* Adjust this if needed */
}

@keyframes ComingSoonBgAnimation {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}
