.sponsors {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(1, 1, 27);
    background-image: url(../../assets/sponsors/stars.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
}

.sponsors-head {
    text-align: center;
    font-family: "Audiowide", sans-serif;
    font-size: 4.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 9.6px;
    margin-top: 3vh;
}

.sponsors-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sponsors-shape {
    clip-path: polygon(0% 0%, 95% 0%, 100% 15%, 100% 100%, 5% 100%, 0% 85%);
    /* clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%); */
}

.sponsors-major-sponsor {
    background-color: white;
    width: 42vw;
    height: 30vh;
    border: 4px solid #F0B537;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    margin: 7vh auto;
}

.sponsors-other-sponsors-head {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #00E0FF;
    text-align: center;
    font-family: "Bender", sans-serif;
    font-size: 1.3rem;
    font-weight: 700;
    letter-spacing: 3.36px;
    text-transform: uppercase;
}

.sponsors-major-sponsor-img-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 100%;
    background-color: white;
}

.sponsors-major-sponsor-img {
    max-width: 80%;
    max-height: 80%;
}

.sponsors-major-sponsor-text {
    height: 20%;
    width: 100%;
    background-color: rgb(57, 39, 9);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Rajdhani", sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
}

.sponsors-other-sponsors {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* align-items: center; */
    /* justify-content: center; */
    margin: 1vh 0 10vh 4vw;
}

.sponsors-other-sponsors-container {
    width: 21vw;
    height: 30vh;
    margin: 1vw;
}

.sponsors-other-sponsors-box {
    border: 4px solid rgba(224, 134, 211, 0.30);
    height: 80%;
}

.sponsors-other-sponsors-box-img-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
    width: 100%;
    background-color: white;
}

.sponsors-other-sponsors-box-img {
    max-width: 80%;
    max-height: 80%;
}

.sponsors-other-sponsors-box-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
    width: 100%;
    backdrop-filter: blur(10px);
    text-align: center;
    font-family: "Rajdhani", sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
}